<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <title>사이트이름</title>
        <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet" />

        <style></style>
        <script>
            function git_link_gahyeon() {
                window.open('https://github.com/soiyo');
            }
            function blog_link_gahyeon() {
                window.open('https://velog.io/@soyoyun');
            }
        </script>
    </head>
    <body>
        <div class="wrap">
            <div class="wraptitle">
                <div class="title">
                    <h1>킹콩파워팀</h1>
                </div>

                <div class="introduce">
                    <p style="font-size: 25pt">안녕하세요! 저희는 ..(팀소개 ..)</p>
                    <p style="font-size: 20pt">만나서 반갑습니다!</p>
                    <p style="font-size: 15pt">저희 팀의 규칙은 ..!</p>
                </div>
            </div>

            <div class="wrapcard">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col center">
                        <div class="card h-100 w-btn" onclick="location.href='../html/personal_test_1.html'">
                            <img src="../images/test_1.png" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">킹콩파워팀1번</h5>
                                <p class="card-text">킹콩담당</p>
                                <div class="center">
                                    <button onclick="git_link_gahyeon()" class="w-btn" type="button"><img src="../images/git_image.png" width="50px" height="50px" /></button>
                                    <button onclick="blog_link_gahyeon()" class="w-btn" type="button"><img src="../images/velog_image.png" width="50px" height="50px" /></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col center">
                        <div class="card h-100 w-btn" onclick="location.href='../html/personal_test_2.html'">
                            <img src="../images/test_2.png" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">킹콩파워팀2번</h5>
                                <p class="card-text">청소담당</p>
                                <div class="center">
                                    <button onclick="git_link_gahyeon()" class="w-btn" type="button"><img src="../images/git_image.png" width="50px" height="50px" /></button>
                                    <button onclick="blog_link_gahyeon()" class="w-btn" type="button"><img src="../images/velog_image.png" width="50px" height="50px" /></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col center">
                        <div class="card h-100 w-btn" onclick="location.href='../html/personal_test_3.html'">
                            <img src="../images/test_3.png" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">킹콩파워팀2번</h5>
                                <p class="card-text">빨래담당</p>
                                <div class="center">
                                    <button onclick="git_link_gahyeon()" class="w-btn" type="button"><img src="../images/git_image.png" width="50px" height="50px" /></button>
                                    <button onclick="blog_link_gahyeon()" class="w-btn" type="button"><img src="../images/velog_image.png" width="50px" height="50px" /></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col center">
                        <div class="card h-100 w-btn" onclick="location.href='../html/personal_test_4.html'">
                            <img src="../images/test_4.png" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">킹콩파워팀4번</h5>
                                <p class="card-text">설거지담당</p>
                                <div class="center">
                                    <button onclick="git_link_gahyeon()" class="w-btn" type="button"><img src="../images/git_image.png" width="50px" height="50px" /></button>
                                    <button onclick="blog_link_gahyeon()" class="w-btn" type="button"><img src="../images/velog_image.png" width="50px" height="50px" /></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
