<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
        <title>사이트이름</title>
        <link href="{{ url_for('static', filename='style_personal.css') }}" rel="stylesheet" />
        <script src="{{ url_for('static', filename='script_personal.js') }}"></script>
        <style>
            .grid-container {
                display: grid;
                margin: 25px 25px 25px 25px;
                padding: 10px;
                background-color: #EFE8D5;
            }

            .grid-item {
                margin: 60px;
                padding: 10px;
            }

            .container1 {
                grid-template-columns: repeat(2, 30% 70%);
            }
        </style>
    </head>
    <body>
        <div class="grid-container container1">
            <div class="grid-item">
                <img src="../static/images/test_4_1.png" class="card-img-top" alt="..." />
            </div>

            <div class="grid-item">
                <div>
                <a href="/">
                    <button class="w-btn w-btn-green center" type="button" style="float: right">홈으로 가기</button>
                </a>
                <p style="font-size: 25pt"><br></br>안녕하세요, 킹콩파워팀의 윤가현입니다!</p>
                <p style="font-size: 15pt">고양이를 아주 좋아합니다</p>
                <p style="color:rgb(83, 83, 83) ">안녕하세요😁 저는 킹콩파워팀의 윤가현입니다!<br />
                    <li>어려서부터 뭔가를 ‘창작‘하고 ‘만드’는걸 좋아했었습니다 😋<br />
                        세상엔 재밌는게 너무나 많고 그 중 만들기는 더더욱 재밌어 합니다 🛠 <br />
                        (ex: 3D모델링해서 출력, 음악만들기, 그림그리기, 3D펜 사용해서 만들기)<br /><br></li>
                    <li>지금은 휴학하면서 팀 킹콩파워에 속해 웹사이트를 만들고 있습니다 👍<br />
                        코딩을 하면서 알면 알수록 이보다 더 재밌는게 있으려나? 라고 생각이 들어서 항상 더 배우고 싶습니다<br /><br></li>
                    <li>적극적인 피드백은 언제나 수용입니다🖍<br />
                        이번 프로젝트에서는 원하는 기능을 실제로 구현하는걸 목표로 하고 있습니다!<br />
                        MBTI는 철현님과 같은 INTP 입니다! (A,T는 반복해서 나와서 ㅎㅎ)<br /><br>
                        <li>모든 일에 최선을 다해 임하고 맡은일은 끝까지 해내려고 하는 것이 저의 장점이라고 생각합니다!<br />
                            어제보다 오늘의 나에 집중하며 매일 발전이 있는 삶을 추구하는것도 하나의 장점이라고 생각합니다<br />
                            협업할때의 장점은 피드백이나 의견을 수용하는데 있어서 거리낌이 없습니다! 또 의견을 내는것도 마다하지 않습니다!<br />
                            끝으로, 저의 최종 목표는 누구에게나 친숙한 서비스를 만드는 개발자가 되는 것입니다. 감사합니다 (Thank you)
                <hr />
                </div>

                <div>
                    <h3><br></br>방명록을 남겨보세요!</h3>
                    <p>
                        이곳은 킹콩파워팀 방명록 입니다!<br />
                        ex) 저는 고양이를 키우고 있습니다. 이름은 야옹이에요!
                    </p>

                    <div class="input-group mb-3">
                        <span class="input-group-text">닉네임</span>
                        <input id="name" type="text" class="form-control" />
                        <span class="input-group-text">댓글</span>
                        <input id="hi" type="text" class="form-control" />
                    </div>

                    <button onclick="save()" type="button" class="w-btn w-btn-green grid_item cent">방명록 남기기</button>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" color="red">닉네임</th>
                                <th scope="col">댓글</th>
                            </tr>
                        </thead>
                        <tbody id="box">ㅤ<br></br></tbody>
                    </table>
                </div>
                
                <div>
                <p style="font-size: 18pt"><br></br>킹콩파워 팀원을 더 알고싶나요?</p>

                <div class="wrapcard">
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        <div class="col center">
                            <div class="card h-100 w-btn">
                                <div class="card-body">
                                    <a href="/getPerson1"> <img src="../static/images/test_1.png" class="card-img-top" alt="..." />
                                    <h5 class="card-title">김태인</h5>
                                    <p class="card-text">수다왕</p></a>
                                    <div class="center">
                                        <a href="/gittin"
                                            ><button class="w-btn" type="button"><img src="../static/images/git_image.png" width="50px" height="50px" /></button
                                        ></a>
                                        <a href="/blgtin">
                                            <button class="w-btn" type="button"><img src="../static/images/blog_image.png" width="50px" height="50px" /></button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col center">
                            <div class="card h-100 w-btn" onclick="location.href='../html/personal_test_2.html'">
                                <a href="/getPerson2"><img src="../static/images/test_2.png" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">김철현</h5>
                                    <p class="card-text">아날로그 노마드</p></a>
                                    <div class="center">
                                        <a href="/gitfr">
                                            <button class="w-btn" type="button"><img src="../static/images/git_image.png" width="50px" height="50px" /></button>
                                        </a>
                                        <a href="/blgfr">
                                            <button class="w-btn" type="button"><img src="../static/images/blog_image.png" width="50px" height="50px" /></button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col center">
                            <div class="card h-100 w-btn" onclick="location.href='../html/personal_test_3.html'">
                                <a href="/getPerson3"><img src="../static/images/test_3.png" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">문명주</h5>
                                    <p class="card-text">4개월뒤 개발자</p></a>
                                    <div class="center">
                                        <a href="/gitmun">
                                            <button class="w-btn" type="button"><img src="../static/images/git_image.png" width="50px" height="50px" /></button>
                                        </a>
                                        <a href="/blgmun">
                                            <button class="w-btn" type="button"><img src="../static/images/blog_image.png" width="50px" height="50px" /></button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col center">
                            <div class="card h-100 w-btn" onclick="location.href='../html/personal_test_4.html'">
                                <a href="/getPerson4"><img src="../static/images/test_4.png" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">윤가현</h5>
                                    <p class="card-text">미래의 집사</p></a>
                                    <div class="center">
                                        <a href="/gitgh">
                                            <button class="w-btn" type="button"><img src="../static/images/git_image.png" width="50px" height="50px" /></button>
                                        </a>
                                        <a href="/blggh">
                                            <button class="w-btn" type="button"><img src="../static/images/blog_image.png" width="50px" height="50px" /></button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>