<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
        <title>사이트이름</title>
        <link href="{{ url_for('static', filename='style_personal.css') }}" rel="stylesheet" />
        <script src="{{ url_for('static', filename='script_personal.js') }}"></script>
        <style>
            .grid-container {
                display: grid;
                margin: 25px 25px 25px 25px;
                padding: 10px;
                background-color: #EFE8D5;
            }

            .grid-item {
                margin: 60px;
                padding: 10px;
            }

            .container1 {
                grid-template-columns: repeat(2, 30% 70%);
            }
        </style>
    </head>
    <body>
        <div class="grid-container container1">
            <div class="grid-item">
                <img src="../static/images/test_3_1.png" class="card-img-top" alt="..." />
            </div>

            <div class="grid-item">
                <div>
                <a href="/">
                    <button class="w-btn w-btn-green center" type="button" style="float: right">홈으로 가기</button>
                </a>
                <p style="font-size: 25pt"><br></br>안녕하세요~!! 이번 내일배움캠프에 참여하게 된 문명주라고합니다👋</p>
                <p style="font-size: 15pt">강아지를 아주 좋아합니다</p>
                <p style="color:rgb(83, 83, 83) ">안녕하세요😁 저는 킹콩파워팀의 문명주입니다!<br />
                    <li>컴퓨터와는 전혀 관련 없는 과를 졸업하고 2년간 열심히 일하다가 퇴사를 한지 2개월 됐어요! ㅎㅎ<br />
                        일하면서 가장 중요하다고 느꼈던게 있는데 그것은 바로 !!!<br />
                        내가 제일 흥미롭고 좋아하는 일을 해야 나중에 후회없겠구나 싶더라구요~!<br /><br></li>
                    <li>앞으로 잘부탁드립니다~!!!! 우리 모두 화이팅!!👊<br />
                         제 MBTI는 ISFJ이긴하지만, E같은 I 라는 말을 많이 들어요 ~!😆<br /><br></li>
                    <li>처음에는 낯도 많이 가리는데 친해지면 그런거 저어언혀 없고!!!<br />
                        그러니까 우리 빨리 친해져요 지금 당장 롸잇 나우 !!!!!!!!👉<br />
                        MBTI에서 이미 보이다시피 무적의 'J'!!<br /><br>
                        <li>친구들은 항상 내게 말하지 ! 너없이는 여행못가!<br />
                            한마디로 계획에 따라 움직이는 철저한 계획형 인간!<br />
                             너무 계획적이라 시간약속도 잘지키고 시간을 허투로 쓰지않는게 가장 큰 장점이라고 생각합니다!<br />
                            이 장점을 활용해서 출석체크도 아주아주 잘 하는 모습 보여드릴게용💞
                            사실 2년간 일을 하며 협업을 해본 경험이 그렇게 많지는 않아서 명확히 협업을 할 때 제 모습이 어떤지 모르겠지만,<br />
                            이번에 짧게나마 미니 프로젝트를 진행하면서 느꼈던 제 모습은<br />
                             "아이디어를 내는 것에 있어서 주저함이 전! 혀! 없는 모습" 입니다!<br />
                            또한 민폐를 끼치기 싫어하는 성격이라서 팀원들에게 폐가 되지 않도록<br />
                            열심히 하게 되는 것 같습니당 다 팀원들 덕이에요!🙆‍♀️💖
                <hr />
                </div>

                <div>
                    <h3><br></br>방명록을 남겨보세요!</h3>
                    <p>
                        이곳은 킹콩파워팀 방명록 입니다!<br />
                        ex) 저는 고양이를 키우고 있습니다. 이름은 야옹이에요!
                    </p>

                    <div class="input-group mb-3">
                        <span class="input-group-text">닉네임</span>
                        <input id="name" type="text" class="form-control" />
                        <span class="input-group-text">댓글</span>
                        <input id="hi" type="text" class="form-control" />
                    </div>

                    <button onclick="save()" type="button" class="w-btn w-btn-green grid_item cent">방명록 남기기</button>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" color="red">닉네임</th>
                                <th scope="col">댓글</th>
                            </tr>
                        </thead>
                        <tbody id="box">ㅤ<br></br></tbody>
                    </table>
                </div>
                
                <div>
                <p style="font-size: 18pt"><br></br>킹콩파워 팀원을 더 알고싶나요?</p>

                
                <div class="wrapcard">
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        <div class="col center">
                            <div class="card h-100 w-btn">
                                <div class="card-body">
                                    <a href="/getPerson1"> <img src="../static/images/test_1.png" class="card-img-top" alt="..." />
                                    <h5 class="card-title">김태인</h5>
                                    <p class="card-text">수다왕</p></a>
                                    <div class="center">
                                        <a href="/gittin"
                                            ><button class="w-btn" type="button"><img src="../static/images/git_image.png" width="50px" height="50px" /></button
                                        ></a>
                                        <a href="/blgtin">
                                            <button class="w-btn" type="button"><img src="../static/images/blog_image.png" width="50px" height="50px" /></button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col center">
                            <div class="card h-100 w-btn" onclick="location.href='../html/personal_test_2.html'">
                                <a href="/getPerson2"><img src="../static/images/test_2.png" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">김철현</h5>
                                    <p class="card-text">아날로그 노마드</p></a>
                                    <div class="center">
                                        <a href="/gitfr">
                                            <button class="w-btn" type="button"><img src="../static/images/git_image.png" width="50px" height="50px" /></button>
                                        </a>
                                        <a href="/blgfr">
                                            <button class="w-btn" type="button"><img src="../static/images/blog_image.png" width="50px" height="50px" /></button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col center">
                            <div class="card h-100 w-btn" onclick="location.href='../html/personal_test_3.html'">
                                <a href="/getPerson3"><img src="../static/images/test_3.png" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">문명주</h5>
                                    <p class="card-text">4개월뒤 개발자</p></a>
                                    <div class="center">
                                        <a href="/gitmun">
                                            <button class="w-btn" type="button"><img src="../static/images/git_image.png" width="50px" height="50px" /></button>
                                        </a>
                                        <a href="/blgmun">
                                            <button class="w-btn" type="button"><img src="../static/images/blog_image.png" width="50px" height="50px" /></button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col center">
                            <div class="card h-100 w-btn" onclick="location.href='../html/personal_test_4.html'">
                                <a href="/getPerson4"><img src="../static/images/test_4.png" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">윤가현</h5>
                                    <p class="card-text">미래의 집사</p></a>
                                    <div class="center">
                                        <a href="/gitgh">
                                            <button class="w-btn" type="button"><img src="../static/images/git_image.png" width="50px" height="50px" /></button>
                                        </a>
                                        <a href="/blggh">
                                            <button class="w-btn" type="button"><img src="../static/images/blog_image.png" width="50px" height="50px" /></button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>